apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.2
    includeCRDs: true
    namespace: longhorn-system
    releaseName: longhorn
    valuesInline:
      persistence:
        defaultClassReplicaCount: 2
      service:
        ui:
          type: LoadBalancer

resources:
  - namespace.yaml

patches:
  - target:
      kind: Service
      name: longhorn-frontend
      namespace: longhorn-system
    patch: |
      - op: remove
        path: /spec/ports/0/nodePort

