ha.subsnet.in {
  reverse_proxy home-assistant
}

cd.subsnet.in {
  reverse_proxy argocd-server.argocd.svc.cluster.local
}

sync.subsnet.in {
  reverse_proxy syncthing:8384 {
    header_up Host {upstream_hostport}
  }
}

3d.subsnet.in {
  reverse_proxy 10.10.11.109
}

:80 {
  respond "I am http"
}
:443 {
  respond "I am https"
}
