apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/argoproj/argo-cd//manifests/cluster-install?ref=v3.2.6
- github-creds.sealed.yaml
- project.yaml

patches:
- path: argocd-cm.yaml
- path: argocd-cmd-params-cm.yaml
- path: service.yaml
